<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Bem vindos</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="menu">
                    <li class = "logo"><img src="static\images\logo_projeto.png" alt="Logo do projeto" height="90" width="90"></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Gyms</a></li>
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li class="acesso"><a href="/login">Login now</a></li>
                </ul>
            </nav>
        </div>
        <section id="transform">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section> 
        <div class="training">
             <p class="start">Get started today</p>
             <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta et facere quam nobis exercitationem autem ab<br>
                laudantium itaque inventore, error possimus nihil quod omnis, praesentium eligendi <br>
                accusamus ipsum! Eveniet, quam!
            </p>
            <a href="../manager/register.html" class="button">Sign up now</a>
        </div>
    </header>
    <main>
        <div class="box">
            <div class="box1" data-box="box 1">
                <h3>Simple Plan</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non nulla illo praesentium nisi nostrum, expedita provident perferendis ipsa voluptatem libero, totam ut fugiat quia necessitatibus cumque sed voluptatibus iste.</p>
                <a href="/new_client/plan1" class="box-link">Sign up</a>
            </div>
            <div class="box1" data-box="box 2">
                <h3>Plus Plan</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero explicabo sed commodi. Aliquam reiciendis natus quae deserunt consectetur odit dolores debitis corporis eius quam commodi dolorum quibusdam, nam dolore. Deserunt.</p>
                <a href="/new_client/plan2" class="box-link">Sign up</a>
            </div>
            <div class="box1" data-box="box 3">
                <h3>Premium Plan</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, autem repudiandae magni facere ratione ad exercitationem nisi architecto maiores maxime praesentium, quos fugiat quisquam, consequuntur enim soluta. Veritatis, architecto eveniet?</p>
                <a href="/new_client/plan3" class="box-link">Sign up</a>
            </div>
        </div>
    </main>
</body>
</html>