<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Bem vindos</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="menu">
                    <li class = "logo"><img src="static\images\logo_projeto.png" alt="Logo do projeto" height="90" width="90"></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Academias</a></li>
                    <li><a href="#">Planos</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li class="acesso"><a href="/login">Faça login</a></li>
                </ul>
            </nav>
        </div>
        <h1>Seja bem vindo ao novo projeto de Gestão de Academias</h1>
        <p>Projeto idealizado por ED e executado por ED e FG</p>
    </header>
</body>
</html>