html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 5px solid #5085f1;
    height: 90px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    display: inline-block;
    line-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.menu a:hover {
    color: #5085f1;
}

.menu .acesso {
    float: right;
}

.menu .acesso a {
    background-color: #5085f1;
    padding: 15px 20px;
    border-radius: 10px;
}

.menu .acesso a:hover {
    color: black;
}

.menu .logo {
    float: left;
}

#transform {
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.8)), url(../static/images/foto_inicio.jpeg);
    background-attachment: fixed;
    border-bottom: 5px solid #5085f1;
    padding: 200px;
}

#transform p {
    font-weight: 700;
    font-size: 4rem;
    max-width: 420px;
    text-shadow: 5px 4px #5085f1;
    color: white;
  }

.training {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 70px;
    border-bottom: 5px solid #5085f1;
}

.training .start {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#5085f1, #89b6f8);
    background-clip: text;
    margin-bottom: 30px;
}

.training h1 {
    font-size: 1.8rem;
    font-weight: 900;
}

.training p {
    font-size: 1.1rem;
    margin-top: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.training .button {
    color: white;
    background-color: #5085f1;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-decoration: none;
}

.training .button:hover {
    color: black;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}