html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 3px solid #5085f1;
    height: 90px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    display: inline-block;
    line-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #5085f1;
}

.menu .acesso {
    float: right;
}

.menu .acesso a {
    background: #5085f1;
    padding: 16px 30px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    user-select: none;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: background-color .4s ease;
    position: relative;
    overflow: hidden;
}

.menu .acesso a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .1s ease, height .1s ease;
    transform: translate3d(-50%, -50%, 0);
}

.menu .acesso a:hover {
    background-color: #89b6f8;
    color: #333;
}

.menu .acesso a:active {
    background-color: #89b6f8;
    color: white;
}

.menu .acesso a:active::after {
    width: 120px;  
    height: 120px; 
}

.menu .logo {
    float: left;
}

#transform {
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.8)), url(../static/images/foto_inicio.jpeg);
    background-attachment: fixed;
    border-bottom: 3px solid #5085f1;
    padding: 200px;
}

#transform p {
    font-weight: 700;
    font-size: 4rem;
    max-width: 420px;
    text-shadow: 5px 4px #5085f1;
    color: white;
  }

.training {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 70px;
    border-bottom: 3px solid #5085f1;
}

.training .start {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#5085f1, #89b6f8);
    background-clip: text;
    margin-bottom: 30px;
}

.training h1 {
    font-size: 1.8rem;
    font-weight: 900;
}

.training p {
    font-size: 1.1rem;
    margin-top: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.training .button {
    color: white;
    background-color: #5085f1;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-decoration: none;
}

.training .button:hover {
    background-color: #4068c8;
    color: black;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px;
}

.box .box1 {
    width: 400px;
    height: auto;
    background-color: #f8f9fa; /* Cor clara para o fundo */
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box .box1:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-color: #5085f1; /* Destacar a borda */
}

.box .box1 h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.box .box1 p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.box .box1 a {
    display: inline-block;
    color: white;
    background-color: #5085f1; /* Azul do botão */
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.box .box1 a:hover {
    background-color: #4068c8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}